table, th, td {
    border: 1px solid black;
    text-align: center;

}

table {
    width: 100%;
}

#cell1 {
    background-color: palegreen;
}

#cell2 {
    background-color: lightblue;
    text-align: start;
}

#cell3, #cell5, #cell8 {
    color: red
}

#cell6 {
    background-color: rgb(240, 96, 233);
    text-align: end;
    vertical-align: bottom;
    
}

table.title, th.title, td.title {
    border: 0px solid white;
    font-size: small;
}